@font-face {
	font-family: '8bitOperatorPlus-Bold';
	src: url("/fonts/8bitOperatorPlus-Bold.eot") format("embedded-opentype"),
	url("/fonts/8bitOperatorPlus-Bold.woff") format("woff"),
	url("/fonts/8bitOperatorPlus-Bold.ttf") format("truetype"),
	url("/fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DotumChe';
	src: url("/fonts/dotumche-pixel.ttf") format("truetype"),
	url("/fonts/dotumche-pixel.otf") format("opentype"),
	url("/fonts/dotumche-pixel.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}